<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applocker">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application ...>
        <service android:name=".AppCheckService" />
        <activity android:name=".LockScreenActivity" android:excludeFromRecents="true" />
    </application>
</manifest>

